## Déclaration de variables

In [5]:
apprenant = "Jordan"

nombre_collegues = 12

# double déclaration
apprenant = eleve = "Roger"

## Afficher une variable

In [6]:
print(apprenant)
print("nombre-collègues:", nombre_collegues, apprenant)
print("apprenant:", apprenant)

#/!\ La virgule fait un espace automatiquement!!!

Roger
nombre-collègues:  12 Roger
apprenant:  Roger

## Modifier une variable

In [8]:
apprenant = eleve = "George"
eleve = "Denis"
nombre_collegues += 2
print(apprenant,eleve,nombre_collegues)

#Permutation
eleve,apprenant = apprenant,eleve
print(eleve,apprenant)

a = 1
b = 2
c = 3

a,b,c = a,a,b
print(a,b,c)

George Denis 16
George Denis

# Nommer une variable avec la Pep-8
- Mettez un espace avant et après le signe égal
    - apprennant = "Charles" et non apprenant="Charles"
- Utilisez des noms **descriptifs** dans votre code.
    - Exemple: Au lieu de quantite (ou pire, qte), ajoutez des détails: quantite_en_stock, solde_actuel, etc.
- Utilisez des **mots complets**.
    - Exemple: revenu_annuel est plus clair que rev_annuel
- Suivez une **convention d'appellation** commune.
    - Le snake case: des noms composés de plusieurs mots séparés par des tirets bas (_)
        - Exemple: nombre_de_chats, reponse_finale, le_meilleur_developpeur_python_du_monde, etc.
    - Commencez avec une lettre minuscule (surtout pas par un nombre)
    - Utilisez uniquement des **caractères alphanumériques** et des tirets bas, et donc pas d'accents!
- Ne pas oublier que les noms de variables sont **sensibles à la casse**.

## Exercice
Créer l'état civil de son voisin
- Déclarer les variables nom, prenom, et deuxième prénom, puis une variable nom complet à l'aide des trois précédentes
- Déclarer les variables année actuelle et date de naissance puis créer la variable age
- Remplacer la valeur de la variable nom par celle de nom complet puis supprimer la variable nom complet

In [14]:
first_name = "Florian"
second_name = "Mathieu"
last_name = "Abgrall"
birth_year = 1995
current_year = 2021

full_name = last_name + " " + first_name + " " + second_name
age = current_year - birth_year
print(full_name,age)

last_name = full_name
del full_name
print(last_name)

Abgrall Florian Mathieu 26
Abgrall Florian Mathieu

# Les types primitifs de variable

In [15]:
# Les "integers", ou nombres entiers en français
nombre_collegues = 7
print(type(nombre_collegues),nombre_collegues)

<class 'int'> 7